<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\SingleFile\linux-arm64</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <IncludeNativeLibrariesForSelfExtract>True</IncludeNativeLibrariesForSelfExtract>
    <PublishTrimmed>true</PublishTrimmed>
    <TrimmerRemoveSymbols>True</TrimmerRemoveSymbols>
    <EnableCompressionInSingleFile>True</EnableCompressionInSingleFile>
    <TieredPGO>True</TieredPGO>
    <TieredCompilationQuickJitForLoops>True</TieredCompilationQuickJitForLoops>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishAOT>False</PublishAOT>
    <PublishSingleFile>true</PublishSingleFile>
    <InvariantGlobalization>True</InvariantGlobalization>
    <DebugType>none</DebugType>
    <DebugSymbols>False</DebugSymbols>
  </PropertyGroup>
</Project>
